* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* altura / vh - altura */
    width: 100vw;
    /* vw - largura */
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.container {
    background-color: #000000;
    /* Troca cor de fundo */
    width: 95%;
    /* Largura */
    opacity: 0.8;
    /* transparencia do iten */
    padding: 20px;
    border-radius: 25px;
    max-width: 420px;
}

input {
    border: none;
    /* borda do elemento */
    outline: none;
    /* borda que aparece ao selecionar o elemento */
    padding: 10px;
    /* espaçamento interno */
    border-radius: 24px;
    /* arredonda as bordas */
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 100px);
    transition: 0.6s;
}

input:hover {
    background-color: #7c7c7c3b;
    transition: 0.3s;
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
    transition: 0.5s;
    min-width: 30px;
    min-height: 30px;
    align-items: center;
}

button:hover {
    background-color: #7c7c7c4b;
    transition: 0.3s;
}

.medium-container {
    margin-top: 20px;
}

.litle-container {
    display: flex;
    margin-top: 30px;
    align-items: center;
    margin-left: -12px;
}

.lupa {
    height: 20px;
}

h2 {
    color: white;
    font-size: 28px;
    /* tamanho do texto */
}

.temp {
    color: #ffffff;
    margin-top: 30px;
}

.description {
    color: #ffffff;
    text-transform: capitalize;
    /* deixa a primeira letra maiuscula */
}

.humidity {
    color: #ffffff;
    margin-top: 30px;
}